/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   @charset "UTF-8";

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

@media (prefers-reduced-motion: no-preference) {
  html {
      scroll-behavior: smooth;  
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*General Styles*/

body {
  background-color: #152A3E;
  background-size: cover;
  border: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*Header Styles*/

header {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
  background-color: #152A3E;
  padding-top: 30px;
  padding-bottom: 60px;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

header nav {
  font-family: 'Montseratt', sans-serif;
  margin-bottom: 60px;
}

header nav ul {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav li {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
  width: 98%;
  margin-bottom: 20px;

}

header nav ul li a{
  color:#EEEFDA;
  text-decoration:none;
}

header nav ul li a:hover {
  background: #CAC691;
  padding: 10px 10px;
  border-radius: 30px;
}

header nav #contact-link {
  background-color: #CAC691;
  color:#152A3E;
  padding: 10px 10px;
  border-radius: 30px;
}

header nav #contact-link:hover {
  background: #E7E5CB;
}

header .home-title {
  font-family: 'Lora', sans-serif;
  color: #F7E8E8;
  text-decoration: none;
  overflow: auto;
  width: 93%;
}

header .home-title h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

header .home-title h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 35px;
}

/*About Me Styles*/

#about {
  background: #E7E5CB;
  background-size: cover;
  color: #152A3E;
  font-family: 'Lora', sans-serif;
  margin-bottom: 20px;
}

#about .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
}

#about .content-wrapper h2 {
  background: #E7E5CB;
  text-align: center;
  font-size: 1.5rem;
  width: 96%;
}

#about .biography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 93%;
}

#about .biography figure {
  width: 75%;
}

#about .biography figure img {
  width: 93%;
  position: relative;
  right: -23px;
}

#about .bio-content h3 {
  text-align: center;
  font-size: 1.375rem;
}

#about .bio-content {
  text-align: left;
  width: 93%;
  margin-bottom: 5px;
  position: relative;
  right: -32px;
}

#about span {
  text-align: center;
  width: 90%;
}

/*Skills Styles*/

#skills {
  text-align: center;
  font-family: 'Lora', sans-serif;
  color: #F7E8E8;
}

#skills .skills-header {
  text-align: center;
  color: #f0f0f0;
}

#skills .content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 95%;
}

#skills h3 {
  text-align: center;
  color: #EEEFDA;
  font-family: 'Montseratt', sans-serif;
}

.dev-skills ul {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  width: 95%;
}

.dev-skills li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #152A3E;
  text-align: center;
  text-decoration: none;
  background: #B4C7D9;
  border: solid #152A3E;
  width: 275px;
  height: 40px;
  gap: 2px;
}

#skills .tools {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#skills .tools h3 {
  text-align: center;
  color: #EEEFDA;
}

#skills .tools ul {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  width: 95%;
}

#skills .tools li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  text-align: center;
  color: #152A3E;
  text-decoration: none;
  background: #B4C7D9;
  border: solid #152A3E;
  width: 275px;
  height: 40px;
}


/*Projects Styles*/

#projects {
  display: block;
  unicode-bidi: isolate;
  background: #F7E8E8;
  background-size: cover;
  width: 100%;
  color: #152A3E;
  font-family: 'Lora', sans-serif;
}

.portfolio-header {
  text-align: center;
}

.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 95%;
}

.home-portfolio-piece {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-portfolio-piece figure {
  filter: drop-shadow(1px 2px 6px lightgrey);
}

.home-portfolio-piece img {
  width: 95%;
}

.home-portfolio-piece h3 {
  text-align: center;
}

.project-description {
  text-align: left;
  line-height: 1.5rem;
  margin-bottom: 10px;
  font-family: 'Montseratt', sans-serif;
  width: 90%;
}

p {
  text-align: left;
  font-size: 1.25rem;
  width: 90%;
  font-family: 'Montseratt', sans-serif;
}

span {
  font-weight: bolder;
}

.p .flex-fill {
  flex-grow: 1;
}

.project-link {
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  background-color: #453E4F;
  border-radius: 30px;
  color: #FFFFFF;
  width: 25%;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Monseratt', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 4px 4px;
}

.project-link:hover {
  background-color: #CAC4D1;
  color: #453E4F;
}

/*Contact Styles*/

footer { 
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  background: #f0f0f0;
  background-size: cover;
}

footer #contact {
  color: #152A3E;
  text-align: center;
}

footer .content-wrapper {
  width: 95%;
}

.content-wrapper h2 {
  font-family: 'Lora', sans-serif;
  text-align: center;
  color:#152A3E;
  background: #f0f0f0;
}

.contact-title {
  font-family: 'Monseratt', sans-serif;
}

.contact-email {
  font-family: 'Monseratt', sans-serif;
  text-align: center;
}

.contact-email p {
  text-align: center;
}
.contact-email a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contact-follow {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.social-icons ul {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.social-icons ul li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
}

footer p {
  font-family: 'Lora', sans-serif;
  text-align: center;
  color:#152A3E;
  font-size: 1rem;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   /***** Tablet Styles *****/

@media only screen and (min-width: 768px) {
  
  /* Header styles */

  .content-wrapper {
    width: 95%;
  }

  header nav { 
    padding-top: 60px;
    padding-bottom: 80px;
    margin: 0 0 80px 0;
    width: 100%;
  }

  header nav ul {
    margin: 0;
    padding: 0;
    width: 90%;
    font-size: 1.75rem;
  }

  .home-title h1 {
    font-size: 2em;
  }
  
  .home-title h2 {
    overflow: auto;
    margin: 10px 10px;
    font-size: 1.5rem;
  }
/* About Styles */

#about .biography {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

#about .biography figure {
  width: 95%;
}

#about .bio-content {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}

#about .bio-content h3 {
  text-align: center;
  width: 92%;
}

#about .bio-content p {
  width: 90%;
  text-align: justify;
}

#about span {
  text-align: center;
  font-size: 1.25rem;
}

#about h2 {
  font-size: 1.5rem;
}

/*Skills Styles*/

#skills .content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
 }
 
 #skills .dev-skills h3 {
   text-align: center;
 }
 
 #skills .dev-skills ul {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   list-style-type: none;
 }
 
 .dev-skills li {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 275px;
   height: 30px;
   font-size: .975rem;
 }
 
 #skills .tools h3 {
   text-align: center;
 }
 
 #skills .tools ul {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   list-style-type: none;
 }
 
 .tools li {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 275px;
   height: 30px;
   font-size: .975rem;
 }

/*Projects Styles*/

#projects h2 {
  font-size: 1.5rem;
}

#projects .portfolio-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-flow: row wrap;
}
.portfolio-wrapper .home-portfolio-piece {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Footer Styles*/

footer {
  min-width: 768px;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  width: 95%;
}

footer h2 {
  font-size: 1.75rem;
}

.contact-me {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  gap: 150px;
}

.contact-email {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
}

.contact-email h3 {
  font-size: 1.33rem;
  font-family: 'Lora', sans-serif;
}

.contact-follow {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.contact-title {
  font-size: 1.33rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.social-icons ul {
  display: flex;
  gap: 15px;
}

footer p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

}

/***** Desktop Styles *****/

@media only screen and (min-width: 1200px) {

/*Header Styles*/

header .content-wrapper {
  display:flex;
  justify-content: flex-end;
}

header nav {
  display: flex;
  justify-content: flex-end;
  width: 45%;
  padding: 10px 10px;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  font-size: 1.375rem;
}

header nav ul li {
  text-decoration: none;
  margin-right: 10px;
}

header nav ul li a {
  padding: 10px 10px;
}

.home-title h1 {
  font-size: 2rem;
}

/*About Styles*/

#about .home-title h1 {
  font-size: 2.33rem;
}

#about h2 {
  font-size: 1.9rem;
}

#about .biography {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

#about .biography figure {
  width: 95%;
}

#about .bio-content {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}

#about .bio-content h3 {
  text-align: center;
  width: 92%;
}

#about .bio-content p {
  width: 90%;
  text-align: left;
  word-spacing: normal;
}

#about span {
  text-align: center;
  font-size: 1.25rem;
}

/*Skills Styles*/

#skills .content-wrapper {
 display: flex;
 justify-content: space-between;
 margin-bottom: 20px;
}

.skills-header {
  font-size: 1.75rem;
}

#skills .dev-skills h3 {
  text-align: center;
  font-size: 1.45rem;
}

#skills .dev-skills ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  gap: 5px;
}

.dev-skills li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 40px;
  font-size: .975rem;
}

#skills .tools h3 {
  text-align: center;
  font-size: 1.45rem;
}

#skills .tools ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  gap: 5px;
}

.tools li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 40px;
  font-size: .975rem;
}

  /*Projects Styles*/


#projects h2 {
    font-size: 1.75rem;
    margin-top: 25px;
    padding-top: 25px;
  }

#projects .portfolio-wrapper {
  display: flex;
  flex-flow: row wrap;
  overflow: none;
}
.portfolio-wrapper .home-portfolio-piece {
  max-width: 600px;
  overflow: none;
  margin: 15px 10px;
}

.home-portfolio-piece img {
  width: 80%;
  height: 70%; 
}

.home-portfolio-piece h3 {
  font-size: 1.33rem;
  
}

/*Footer Styles*/

footer {
  min-width: 1200px;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  width: 95%;
}

footer h2 {
  font-size: 1.75rem;
}

.contact-me {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  gap: 150px;
}

.contact-email {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
}

.contact-email h3 {
  font-size: 1.33rem;
  font-family: 'Lora', sans-serif;
}

.contact-follow {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.contact-title {
  font-size: 1.33rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.social-icons ul {
  display: flex;
  gap: 15px;
}

footer p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

